#main-container {
    width: 80%;
    margin: auto;
}

#main-container h1 {
    font-weight: 700;
    font-size: 40px;
    margin: 20px;
}

.input {
    margin-left: 20px;
}

.row input {
    width: 100%;
    height: 100%;

}

.row button {
    width: 50%;
    height: 100%;
}

.container {
    margin-bottom: 10px;
}



.row .item-name,
.date {
    text-align: left;
}


.row {
    margin-bottom: 5px;
}

@media screen and (max-width : 753px) {
    #main-container h1 {
        font-weight: 500;
        font-size: 20px;
        margin: 10px;
    }

    .row .item-name,
    .date {
        text-align: left;
        font-size: 12px;
    }

    .row button {
        width: 100%;
        height: 100%;
        font-size: 10px;
        padding: auto;
    }

    .row input {
        width: 100%;
        height: 100%;
        font-size: 12px;
    }
}